
.hidden {
  display: none;
} 


/*ヒーロースライダー*/
.hero {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.hero__banner {
  flex: 1;
  position: relative;
  height: 680px;
  border-radius: 8px;
  overflow: hidden;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ロゴをスライダーの上に配置*/
.hero-logo-top {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
    color: #333;
}

.hero__arrow {
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
  padding: 8px;
  color: #555;
}

/* ====== 検索エリア ====== */
.search {
    width: 100%;
    display: flex;
    justify-content: center; /* 中央配置 */
    margin: 30px 0;
}

.search__inner {
    display: flex;
    width: 60%; /* 横幅を広くする */
    max-width: 700px;
}

.search__input {
    flex: 1;
    padding: 14px 18px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px 0 0 8px;
}

.search__button {
    padding: 14px 24px;
    font-size: 18px;
    background-color: #d5d5d5;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-weight: bold;
}

/* PICK UP 全体を中央寄せ */
.pickup {
	background-color:  #c4c4c4; 
	padding: 40px 0; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* ====== タレントカード ====== */
.card {
    display: flex;
    flex-direction: column;
    width: 160px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    align-items: center;
}

/* ====== PICKUP：タレント写真を横一列に ====== */
.pickup_content {
    display: flex;
    justify-content: center;   /* 中央揃え */
    align-items: flex-start;
    gap: 24px;                 /* カードの間隔 */
    flex-wrap: nowrap;         /* 横一列固定 */
    width: 100%;
}

.card_thumb {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    background-color: #ddd;
}

/* 滝音の切り抜き位置調整 */
.takione_thumb {
    object-position: 65% 40%; 
}

/* ロングコートダディの切り抜き位置調整 */
.lcd_thumb {
    object-position: 35% 50%;
}

/* アキナの切り抜き位置調整 */
.akina_thumb {
    object-position: 45% 50%;
}


.card_label {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.card:hover {
    opacity: 0.85;
}
