<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>FANY Ticket 模写</title>

	<link rel="stylesheet" th:href="@{/css/home.css}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
	<div class="hero-area">

		<!-- ロゴを表示 -->
		<div class="hero-logo-top">
			FANY Online Ticket
		</div>

		<!-- 公演追加ボタン -->
		<a href="/event/new" class="add_event_icon_wrapper hero_add_btn">
			<div class="add_event_icon">
				<span class="material-icons">settings</span>
			</div>
			<div class="add_event_label">公演追加</div>
		</a>

		<!-- ====== 検索エリア ====== -->
		<section class="search">
			<div class="search__inner">
				<input type="text" class="search__input" placeholder="出演者/公演名/会場名で検索">
				<button class="search__button">検索</button>
			</div>
		</section>

		<!-- ====== スライダー ====== -->
		<section class="hero">
			<button class="hero__arrow hero__arrow--left" id="prevBtn">&#9664;</button>

			<div class="hero__banner">
				<img id="heroImage" class="hero__image" src="/img/banner1.jpg" alt="banner">
			</div>

			<button class="hero__arrow hero__arrow--right" id="nextBtn">&#9654;</button>
		</section>
	</div>

	<!-- ====== PICK UP ====== -->
	<section class="pickup">
		<div class="pickup__header">
			<h2 class="pickup__title">PICK UP</h2>
		</div>

		<!-- タブ -->
		<div class="pickup__tabs">
			<h3 class="pickup__tab-title pickup__tab-title--active" data-target="talent">タレント</h3>
		</div>


		<!-- タレント一覧 -->
		<div class="pickup_content" id="talent">

			<!-- 滝音 -->
			<a href="/talent/takione" class="card">
				<img src="/img/talent_takione.jpg" alt="滝音" class="card_thumb takione_thumb">
				<p class="card_label">滝音</p>
			</a>

			<!-- ロングコートダディ -->
			<a href="/talent/longcoatdaddy" class="card">
				<img src="/img/talent_longcoatdaddy.jpg" alt="ロングコートダディ" class="card_thumb lcd_thumb">
				<p class="card_label">ロングコートダディ</p>
			</a>

			<!-- アキナ -->
			<a href="/talent/akina" class="card">
				<img src="/img/talent_akina.jpg" alt="アキナ" class="card_thumb akina_thumb">
				<p class="card_label">アキナ</p>
			</a>

			<!-- 祇園 -->
			<a href="/talent/gion" class="card">
				<img src="/img/talent_gion.jpg" alt="祇園" class="card_thumb">
				<p class="card_label">祇園</p>
			</a>

			<!-- 金属バット -->
			<a href="/talent/kinzokubatto" class="card">
				<img src="/img/talent_kinzokubatto.jpg" alt="金属バット" class="card_thumb">
				<p class="card_label">金属バット</p>
			</a>

		</div>


		<!-- タブ -->
		<div class="pickup__tabs">
			<h3 class="pickup__tab-title" data-target="event">公演</h3>
		</div>

		<!-- 公演一覧 -->
		<section class="performance">
		    <div class="performance-wrapper">
		        <div class="performance-card" th:each="event : ${events}">

		            <a th:href="@{/event/detail/{id}(id=${event.id})}" class="full-card-link"></a>

		            <div class="performance-title" th:text="${event.title}">公演名</div>

		            <div class="performance-info">
		                <div class="performance-date"
		                    th:text="${#temporals.format(event.date, 'yyyy/MM/dd(E) HH:mm〜')}">2026/04/21 19:00</div>

		                <div class="performance-status" 
		                     th:classappend="${event.remaining <= 0} ? 'soldout' : (${event.remaining <= 10} ? 'danger' : 'open')">
		                    
		                    <span th:if="${event.remaining <= 0}">SOLD OUT</span>
		                    <span th:if="${event.remaining > 0 && event.remaining <= 10}">
		                        残り <span th:text="${event.remaining}">5</span> 枚
		                    </span>
		                    <span th:if="${event.remaining > 10}">
		                        残り <span th:text="${event.remaining}">20</span> 枚
		                    </span>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>

		<!-- JavaScript -->
		<script th:src="@{/js/hero-slider.js}"></script>
		<script th:src="@{/js/pickup-tabs.js}"></script>

</body>
</html>